@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root{
    --app--font:"Rethink Sans", sans-serif;
    --app--white:#f1f1f1;
    --app--black:#1c1a1a;
    --app--black2:#0f0e0e;
    --app--green:#26f307;
    --app--blue:#2fb4cc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container-boton{
    background-color: #26F307;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;

}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;

}

.boton{
    width: 60px;
    transition: ease 1s;

}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 120px 80px;
    z-index: 10000;
    height: 100px;
}
.logo{
    flex: 1;
    text-align: left;
    color: var(--app--white);
}

.foto{
    width: 190px;
}
.nav{
    transform: translateY(-25px);
}
.nav_lik {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--app--white);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    background-image: linear-gradient( var(--app--green),var(--app--green));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
  }
  .nav_lik:hover{
    background-size: 100% 2px;
  }
.botones_iconos{
    transform: translateY(-25px);
    display: flex;
    align-items: center;
    gap: 30px;
}
.botones_iconos__ico{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--app--white);
    color: var(--app--white);
}
.button-menu{
    display: none;
}

body {
    display: block;
    min-height: 100vh;
    background: var(--app--black);
    margin-top: 100px;  
    margin-top: 210px;
    justify-content: center;
    
}
.container {
     width: 100%;
     display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap; 
    margin-top: 250px;
    margin-bottom: 200px;
    }


    .card {
    flex: 0 0 25%;
    margin: 20px;
    border-radius: 6px;
    background-color: var(--app--white);
    box-shadow: 0px 1px 10px var(--app--black2);
    cursor: default;
    transition: all 400ms ease;
    }
    

.card:hover {
    box-shadow: 5px 5px 20px var(--app--black2);
    transform: translateY(-3%);

}
.card img {
    width: 100%;
    height: auto; /* Establece la altura en auto para que se ajuste al ancho */
    object-fit: cover;
}
.card .contenido {
    padding: 15px;
    text-align: center;

}
.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: var(--app--blue);
    border: 1px solid var(--app--blue);
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a:hover {
    background: var(--app--blue);
    color: var(--app--white);

}
.botones_iconos{
    transform: translateY(-25px);
    display: flex;
    align-items: center;
    gap: 30px;
}
.botones_iconos__ico{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--app--white);
    color: var(--app--white);
  }
.button-menu{
    display: none;
    }
footer {
    position: relative;
    width: 100%;
    background: #26F307; 
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wavee.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@media (max-width: 992px) {
    .card {
        flex: 0 0 45%; 
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(100% - 40px); 
        margin: 20px 10px; 
    }
}

/* Para pantallas con un ancho máximo de 1200px */
@media screen and (max-width: 1200px) {
    .content__text {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .content__text h3 span {
        font-size: 0em;
    }

    .content_image {
        width: 750px;
        right: 500px;
        text-align: center;
    }

    .content_image img {
        width: 350px;
    }

    .nav {
        display: none;
    }

    .button-menu {
        display: block;
    }
}

/* Para pantallas con un ancho máximo de 992px */
@media screen and (max-width: 992px) {
    .content {
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    .content__text {
        width: 50%;
        margin: 0 auto;
    }

    .content__text h3 {
        font-size: 2em;
    }

    .content_image img {
        width: 350px;
    }

    .nav {
        display: none;
    }

    .button-menu {
        display: block;
    }

    .nav.active {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 300px;
    }
}

